.PhotoboothContainer-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(-1, 1);
  transition: 1s transform ease;

  &.finished {
    transform: translate(-50%, -50%) scale(-0.8, 0.8);
  }
}

.PhotoboothContainer-close {
  position: absolute !important;
  top: 30px;
  right: 30px;
}

.PhotoboothContainer-actions {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.PhotoboothContainer-instructions {
  position: absolute;
  padding: 10px 30px;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 3s instruction-blink infinite;

  @keyframes instruction-blink {
    0% {
      opacity: 0.8;
      transform: translate(-50%, -50%) scale(1, 1)
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.1, 1.1)
    }
    100% {
      opacity: 0.8;
      transform: translate(-50%, -50%) scale(1, 1)
    }
  }
}

.PhotoboothContainer-button {
  margin: 0 20px !important;
}

.PhotoboothContainer-uploadDialogContent {
  padding: 30px 40px;
  text-align: center;
}
