.UploadDialog-button {
  margin: 10px 20px !important;
}

.UploadDialog-content {
  padding: 30px 40px;
  text-align: center;
}

.UploadDialog-text {
  margin-bottom: 30px;
}

.UploadDialog-buttonArea {
  text-align: right;
}
